CHATWOOT_BASE_URL=https://tu-instancia-chatwoot.com
CHATWOOT_API_TOKEN=tu_token_api_aqui
CHATWOOT_ACCOUNT_ID=1
CHATWOOT_WEBHOOK_TOKEN=tu_token_de_validacion_aqui
RASA_URL=http://127.0.0.1:5005

# Configuración de ngrok
USE_NGROK=False
NGROK_AUTH_TOKEN=tu_token_ngrok_aqui
NGROK_DOMAIN=tu-dominio-estatico.ngrok-free.app
PORT=5004

# Modo de operación
USE_RASA=True

# Autenticación para descarga de modelos (opcional)
HF_TOKEN=tu_token_hugging_face_aqui
